<div class="main-nav">
   <div class="right-child">
      <h5>OSG</h5>
   </div>
</div>
<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
         <form name="form">
            <div class="form-group">
               <label class="control-label">Usuário</label>
               <input class="form-control" type="text" ng-model="user.login" placeholder="Digite seu usuário"> </br>
               <label class="control-label">Senha</label>
               <input class="form-control" type="text" ng-model="user.password" placeholder="Digite sua senha"> </br>
               <div class="btn-group btn-group-justified">
                  <a href="#/sessoes" type="button" class="btn btn-primary">Entrar</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
