html {
  overflow-x: hidden;
}

.btn-absolute-position {
  position: absolute;
}

.btn-m-bottom {
  margin-bottom: 20px;
}

.ten-percent-width {
  width: 10%;
}

.center-text {
  text-align: center;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.error {
    text-align: center;
}

.simple-message {
  text-align: center;
}

.loading {
    background-image: url('../img/loading.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    filter:alpha(opacity=60); /* IE */
    -moz-opacity:0.6; /* Mozilla */
    opacity: 0.6; /* CSS3 */
    height: 86%;
}

md-progress-circular {
    margin-top: 26px !important;
    margin-bottom: 18px !important;
    border-color: red !important;
}

.main-nav {
    margin-top: 0px;
    background-color: #2196F3;
    width: 100%;
    height: 64px;
    margin-bottom: 22px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.main-nav .left-child {
    padding-top: 9px;
    padding-left: 20px;
    width: 20%;
    height: 64px;
    position: absolute;
}

.main-nav .right-child {
    padding-top: 21px;
    text-align: center;
}

.label-warning, .label-danger, .label-success {
    float: right;
    margin-top: 0px;
    padding-top: 5px;
    font-size: 14px;
}

.main-nav .right-child h5 {
    margin-top: 0px;
    color: #F2F2F2;
}

.main-nav .left-child a {
    color: #F2F2F2;
    text-decoration: none;
}

.list-group-item-single {
    font-size: 20px;
}

.detail-tag {
  margin-top: 6px;
}

.badge {
  margin-top: 7px;
}

.selectdemoBasicUsage md-input-container {
  margin-right: 10px;
}

.md-content.md-default-theme, md-content {
    background-color: white;
}

.tab-title h4 {
    margin-top: 16px;
    width: 100%;
    text-align: left;
}
